<script type="text/javascript">
    // Binding handler
    ko.bindingHandlers.registerItem = {
        init: function (element) {
            if ($('#images').find('li').length > 0)
                $('.content-message').hide();

            $(element).gallerize({
                delete_url: '{{ route('galleries.deleteImage',{id:''}) }}/'+$(element).attr('data-id'),
                edit_url:   '{{ route('galleries.editImage',{id:''}) }}/'+$(element).attr('data-id'),
                update_url: '{{ route('galleries.updateImage',{id:''}) }}/'+$(element).attr('data-id'),

                delete_success: function(e) {
                    if ($('#images').find('li').length == 0)
                        $('.content-message').show();
                },
                delete_error: function(e) {
                    // TODO handle error
                },
                update_success: function(response_data) {
                    // TODO handle success
                },
                update_error: function(response_data) {
                    // TODO handle error
                }
            });
        }
    };
</script>
{{ form_open({'class':'form','id':'GALLERY_FRM','action':route('galleries.save',{'id':gallery.id})}) }}
{{ form_token() }}
<div class="form-row">
<label class="row-label">Title</label>
{{ form_input({'class':'textfield short','name':'title','value':gallery.title}) }}
</div>
{% if not gallery %}
<div class="well well-sm">Save your work to upload images.</div>
{% else %}
<div class="form-row">
    <label class="row-label">Add Image</label>
    <div class="simplified-uploader">
        <a href="#" class="btn btn-default droparea">
            Drag and drop a file here or click!
        </a>
        <input type="file" name="file" class="file-input" accept="image/*" style="display: none;" >
    </div>
</div>
<div class="form-row">
    <label class="row-label">Images</label>
    <div class="content-message" style="display: none;"><i>There are no uploaded images.</i></div>
    <ul id="images" data-bind="foreach: GalleryItems">
        <li data-bind="attr: {id:'item-'+id, 'data-id':id}, registerItem: true" class="item">
            <a href="#" class="overflow" data-toggle="dropdown">
                <i class="glyphicon glyphicon-option-vertical icon-black"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                <li>
                    <a class="edit">Edit Picture Data</a>
                </li>
                <li class="hairline"></li>
                <li>
                    <a class="remove">Delete</a>
                </li>
            </ul>
            <a class="image" data-title="my image" rel="lightbox[album]" data-lightbox="gallery" data-bind="attr: {href:imageUrl}, style: {'backgroundImage': 'url('+thumbnail+')'}"></a>
        </li>
    </ul>
    <script type="text/javascript">
        {% if attribute(gallery, 'images').count() == 0 %}
        $('.content-message').show();
        {% endif %}
        {% for image in gallery.images %}
        GalleryItems.push(
            new GalleryItem({{image.id}}, '{{ image.thumbnailUrl }}', '{{ image.imageUrl }}')
        );
        {% endfor %}

        var model = { items : GalleryItems };
        ko.applyBindings(model);
    </script>
</div>

<script type="text/javascript" >
    $(document).ready(function(){
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        });

        simplifiedUploader.option({
            post_data: {'gallery_id' : '{{ gallery.id }}'},
            url : "{{ route('galleries.uploadImage',{'id':gallery.id}) }}",
            success: function(responseData) {
                var json = $.parseJSON(responseData);
                GalleryItems.push(
                    new GalleryItem(json.id, json.thumbUrl, json.imageUrl)
                );
            }
        });
    });

</script>
{% endif %}
{{ form_close() }}