{{ form_open({'class':'form','id':'META_FRM',action:route('galleries.updateImage',{id:meta.id})}) }}
{{ form_token() }}
<div class="form-row">
    <label class="row-label">Title</label>
    {{ form_input({'name':'title','class':'textfield short','value':meta.title}) }}
</div>
<div class="form-row">
    <label class="row-label">Copyright</label>
    {{ form_input({'name':'copyright','class':'textfield short'}) }}
</div>
{{ form_close() }}