{{ form_open({'class':'form','id':'GALLERY_FRM','action':route('galleries.save',{'id':gallery.id})}) }}
{{ form_token() }}
<div class="form-row">
<label class="row-label">Title</label>
{{ form_input({'class':'textfield short','name':'title','value':gallery.title}) }}
</div>
{% if not gallery %}
<div class="well well-sm">Save your work to upload images.</div>
{% else %}
<div class="form-row">
    <label class="row-label">Add Image</label>
    <div class="droparea">
        <span >Drag and drop a file here or click!</span>
    </div>
    <input type="file" name="file" id="file" accept="image/*" style="display: none;" >
</div>
    <div class="form-row">
        <label class="row-label">Images</label>
        <ul id="images"></ul>
    </div>

    <script type="text/javascript" >
        $(document).ready(function(){
            $('.droparea').click(function(e){
                e.stopPropagation();
                e.preventDefault();

                $('#file').click();

                $('#file').change(function(e){

                    console.log("VALUE = " + $('#file').val());
                    var form_data = new FormData($('form#GALLERY_FRM')[0]);
                    form_data.append('file', e.target.files[0]);

                    $.ajax({
                        url: "{{ route('galleries.upload',{'id':gallery.id}) }}",  //Server script to process data
                        type: 'POST',
                        xhr: function() {  // Custom XMLHttpRequest
                            var myXhr = $.ajaxSettings.xhr();
                            if(myXhr.upload){ // Check if upload property exists
                                myXhr.upload.addEventListener('progress',function(ev){
                                    var percent  = 0,
                                            position = (ev.loaded || ev.position),
                                            total 	 = ev.total;

                                    if (ev.lengthComputable)
                                    {
                                        percent = Math.ceil(position / total * 100);
                                    }

                                    console.log('Percent = ' + percent);
                                }, false); // For handling the progress of the upload
                            }
                            return myXhr;
                        },
                        //Ajax events
                        beforeSend: function(a, b, c){
                            console.log("before send");
                        },
                        success: function(a){
                            console.log("success");
                            var img = $('<img />');
                            $(img).attr('src', a.file);
                            $('#images').append('<li><img src="'+a.file+'"/></li>');
                        },
                        error: function(a){
                            console.log('ERROR!!');
                        },
                        // Form data
                        data: form_data,
                        //Options to tell jQuery not to process data or worry about content-type.
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                });
            });
        });
    </script>
{% endif %}
{{ form_close() }}